/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
/* layout  */
#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.main {
  display: flex;
  flex-grow: 1;
}

footer {
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
  background: rgba(0, 0, 0, 95%);
  color: white;
}

#col-1 {
  align-self: stretch;
  padding: 5px 6px 0 6px;
  background-color: #f5f6f7;
  width: 100px;
}

#col-2 {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-flow: column;
}

#tool-top {
  background-color: #f5f6f7;
  padding: 5px 0;
}
#draw{
  border-top: 2px inset grey;
  border-left: 2px inset grey;
  flex-grow: 1;
}

/* link github */
#link-profile {
  text-decoration: none;
  color: grey;
}

#link-profile:hover {
  color: white;
  text-decoration: underline;
}

/* tools */
#tools {
  margin-top: 15px;
  display: flex;
  flex-flow: column;
  padding: 2px;
  height: 200px;
}

#tools div {
  /*border: 1px solid red;*/
  width: 40px;
}

#tools img {
  padding: 5px;
  display: block;
  cursor: pointer;
}

.active {
  border: 2px solid #90c8f6;
  background-color: #c0dcf3;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Palette */
#palette-container {
  border: 2px inset #f5f6f7;
  width: 325px;
  margin-left: 5px;
}

#palette-content {
  display: flex;
}

#palette-col-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px unset white;
  flex-grow: 1;
  background-color: white;
}

.row {
  display: flex;
}

.color {
  border: 2px inset white;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

#primary-color,
#secondary-color {
  width: 20px;
  height: 20px;
  border: 2px outset #f5f6f7;
  float: left;
}

#primary-color {
  margin-right: 5px;
}

#secondary-color {
  background-color: white;
}

/* Tool option */
#tool-options{
  margin-top: 20px;
}

/* line option */
#line-option{
  border: 2px inset #f5f6f7;
  margin: 0 auto;
  width: 70px;
  list-style: none;
}
#line-option li{
  padding: 9px 6px;
  background-color: white;
  cursor: pointer;
}

.line{
  background-color: black;
}
#line-option li.active-line {
  background-color: #0078d7;
}
#line-option li.active-line .line{
  background-color: white;
}