/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
/* layout  */
#container {
  /*border: 1px solid red;*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.main {
  display: flex;
  flex-grow: 1;
}
#col-1 {
  /*border: 1px solid grey;*/
  align-self: stretch;
  padding: 5px;
  background-color:  #EEF0F2;
}
#col-2 {
  /*border: 2px solid blue;*/
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  height: 100%;
}

#cores {
  padding: 5px;
  background-color:  #EEF0F2;
}
#draw {
  border: 3px inset grey;
  align-self: stretch;
  flex-grow: 1;
}

footer {
  /*border: 1px solid purple;*/
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
  background: rgba(0,0,0, 95%);
  color: white;
}
/* link github */
#link-profile{
    text-decoration: none;
    color: grey;
}

#link-profile:hover{
    color: white;
    text-decoration: underline;
}