:root {
    --tool-with: 55px;
    --animation-offset: 0.95
}

.tool {
    padding:  8px;
    min-height: 400px;
    width: var(--tool-with);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #d4d4d4;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    -webkit-box-shadow: 5px 6px 8px -4px rgba(0, 0, 0, 0.33);
    box-shadow: 5px 6px 8px -4px rgba(0, 0, 0, 0.33);
}

label{
    text-align: start;
    color: #303030;
    font-family: Arial, Helvetica, sans-serif;
}

.tool-in,
.tool-out {
    animation-duration: 0.25s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.tool-in {
    animation-name: slide-in-left-animation;
}
.tool-out {
    animation-name: slide-out-left-animation;
}

@keyframes slide-in-left-animation {
    from {
        left: calc(-1 * (var(--tool-with) * var(--animation-offset)));
    }
    to {
        left: 0;
    }
}
@keyframes slide-out-left-animation {
    from {
        left: 0;
    }
    to {
        left: calc(-1 * (var(--tool-with) *  var(--animation-offset)));
    }
}
