* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    overflow: hidden;
}

#root {
    height: 100%;
}

input,
button {
    cursor: pointer;
}

.outter-circle,
.inner-circle {
    border-radius: 50%;
}

.outter-circle {
    position: relative;
    height: 32px;
    width: 32px;
    background-color: #555555;
    cursor: pointer;
}

.inner-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu {
    border-radius: 5px;
    padding: 16px;
    min-width: 200px;
    min-height: 90px;
    position: absolute;
    left: calc(100% + 30px);
    background-color: #373737;
    display: flex;
    color: white;
    flex-direction: column;
}
.menu label {
    color: white;
}

.brush-tool,
.eraser-tool {
    border: none;
    background-color: transparent;
}

input[type="range"] {
    flex: 1;
    appearance: none;
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: grey;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    border: 2px solid grey;
}

.redo,
.undo,
.download {
    position: absolute;
    border: none;
    background-color: transparent;
    transition: all 0.25s;
    cursor: pointer;
    z-index: 5;
}
.redo:hover,
.undo:hover,
.download:hover {
    scale: 1.2;
}

.show,
.hide {
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.hide {
    animation-name: hide-animation;
    display: none;
}

.show {
    animation-name: show-animation;
    display: block;
}

@keyframes show-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes hide-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
