* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    overflow: hidden;
}

#root {
    height: 100%;
}

input,
button {
    cursor: pointer;
}

.outter-circle,
.inner-circle {
    border-radius: 50%;
}

.outter-circle {
    position: relative;
    height: 32px;
    width: 32px;
    background-color: #555555;
    cursor: pointer;
    /* border: 2px solid #555555; */
}

.inner-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog {
    border-radius: 5px;
    padding: 8px;
    width: 200px;
    height: 90px;
    position: absolute;
    top: 0;
    left: calc(100% + 30px);
    background-color: #373737;
    display: flex;
    color: white;
    flex-direction: column;
}
.dialog label{
    color: white;
}
.dialog :first-child {
    display: flex;
    justify-content: space-between;
}
.dialog div {
    padding: 8px;
}
.brush-tool,
.eraser-tool {
    border: none;
    background-color: transparent;

}

.redo,
.undo,
.download {
    position: absolute;
    border: none;
    background-color: transparent;
    transition: all 0.25s;
    cursor: pointer;
    z-index: 5;
}
.redo:hover,
.undo:hover,
.download:hover {
    scale: 1.2;
}

.show,
.hide {
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.hide {
    animation-name: hide-animation;
    display: none;
}

.show {
    animation-name: show-animation;
    display: block;
}

@keyframes show-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes hide-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
